---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 }}" class="no-js">
  <head>
    {% include head.html %}
    {% include head/custom.html %}
    
    <meta charset="UTF-8">
    <meta name="description" 
          content="Yujia Wu - Master Student @ University of Electronic Science and Technology of China, The Center for Future Media">
    
    <script type="application/ld+json">
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "Yujia Wu", 
        "url": "https://wu12023.github.io/",
        "jobTitle": "Master Student",
        "affiliation": {
          "@type": "CollegeOrUniversity",
          "name": "University of Electronic Science and Technology of China"
        }
      }
    </script>
    <title>Yujia Wu - Personal Website</title>
  </head>

  <body>
    {% include browser-upgrade.html %}
    {% include masthead.html %}

    {{ content }}

    <div class="page__footer">
      <footer>
        {% include footer/custom.html %}
        {% include footer.html %}
      </footer>
    </div>

    {% include scripts.html %}

  </body>
</html>
